*.pt
datasets/__pycache__
eval_scripts/__pycache__
examples/__pycache__
fusions/__pycache__
models/__pycache__
objective_functions/__pycache__
training_structures/__pycache__
unimodals/__pycache__
utils/__pycache__

